body {
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

div {
    margin: 0 auto;
    width: 500px;
}


h1 {
    border-color: black;
    border-bottom: solid;
    font-size: 40px;
    width: 50%
}

h2 {
    font-size: 30px
}

ul>li {
    font-size: 20px
}

p {
    font-size: 20px
}


h4 {
    border: solid;
    border-color: lightblue;
    background-color: lightblue;
    font-size: 12px;
    border: 1px;
    width: 112.5%
}


h5 {
    font-size: 20px;
}


h6 {
    border: solid;
    border-color: lightblue;
    background-color: lightblue;
    font-size: 12px;
    border: 1px;
    width: 130%
}